@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');

:root {
  font-size: 16px;
  --white: white;
  --blue: #00ace0;
  --white-background: white;
  --grey-background: rgba(27, 27, 50, 0.8);
  --green: #37af65;
  --grey: #3b3b4f
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg,var(--blue), var(--green));
  color: var(--white);
  background-attachment: fixed;
}

#title {
  font-weight: bold;
  font-size: 4rem
}

#title, #description {
  text-align: center;
}

h1 {
  font-weight: bold;
  line-height: 1.2;
  margin: 1em auto 0 auto;
}

p {
  font-size: 18px;
  font-style: italic;
  margin: 1em auto;
}


form, h1, p {
  max-width: 500px;
  min-width: 300px;
}

form {
  margin: 0 auto;
  padding-bottom: 2em;
}

/* Fieldsets */
fieldset {
  border: none;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--grey-background);
  margin-bottom: 2rem
}

label {
  display: block;
  margin-top: 1rem
}

label:first-of-type{
  margin-top: 0
}

label h2 {
  font-size: 20px;
  margin: 0;
}

input, select, textarea, #skill-level > label, #known-languages > label {
  margin: 10px 0 0 0;
  width:100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input, textarea {
  background-color: var(--white-background);
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  color: black;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.checkbox {
  width: unset;
  display: inline-block;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type=checkbox]:hover, input[type=radio]:hover, #dropdown:hover {
  cursor: pointer;
}

#submit {
  display: block;
  width: 10rem;
  margin: 1em auto;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: var(--grey-background);
  color: white;
}

#submit:hover {
  background-color: white;
  color: var(--green);
  cursor: pointer;
}

header {
  padding: 0 0.5rem;
}
